* {
    padding: 0;
    margin: 0;
    outline: none;
}
article {
    height: 130px;
    width: 50%;
    background-color: green;
    float: left;
    margin-right: 20px;
    padding: 10px;
    color: aliceblue;
    border: 4px solid silver;
    cursor: default;
    font-size: 20px;
    font-family: Arial;
    max-width: 300px;
    opacity: 0.2;
    text-align: center;
}
p {
    color: blueviolet;
}
.a {
    color: pink;
}
#pp {
    color: palevioletred; 
}
p[title=Hi] {
    color: black;
}
#letter::first-letter {
    color: green; 
}
a:hover {
    color: red;
}
p:empty {
    background-color: brown;
    width: 10px;
    height: 10px;
}
b:first-child {
    color: red;
}
:focus {
    background-color: brown;
}
ul > li {
    display: block;
}
#left {
    margin-top: 10px;
    margin-left: 30px;
    height: 130px;
    width: 50%;
    background-color: rgb(49, 58, 49);
    float: left;
    margin-right: 20px;
    padding: 10px;
    color: aliceblue;
    border: 4px solid silver;
    cursor: default;
    font-size: 20px;
    font-family: Arial;
    max-width: 300px;
    opacity: 0.2;
    text-align: center;
}
#right {
    margin-top: 10px;
    margin-left: 30px;
    height: 130px;
    width: 50%;
    background-color: rgb(17, 219, 17);
    float: left;
    margin-right: 20px;
    padding: 10px;
    color: aliceblue;
    border: 4px solid silver;
    cursor: default;
    font-size: 20px;
    font-family: Arial;
    max-width: 300px;
    opacity: 0.2;
    text-align: center;
}